/* line 4 */
h2.entry-title {
  font-weight: bold;
}

/* line 8 */
.published {
  font-weight: bold;
}

/* line 12 */
.author-name {
  font-weight: bold;
  color: #4b4b4b;
}

/* line 17 */
footer.post-info {
  font-family: "Open Sans";
}

/* line 21 */
h3 {
  font-weight: bold;
}

/*** stuff within entries only ***/
/* line 27 */
div.entry-content {
  /** fixing h1s to not be huge and sans-serif **/
  /* make uls in entries have bullets */
}
/* line 30 */
div.entry-content h1 {
  font-size: 2rem;
  font-family: Open Sans;
}
/* line 35 */
div.entry-content div.container.center {
  text-align: center;
}
/* line 40 */
div.entry-content ul {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 44 */
div.entry-content ul ul {
  list-style-type: circle;
}
/* line 47 */
div.entry-content ul ul ul {
  list-style-type: square;
}

/* line 54 */
#navigation {
  position: relative;
  top: 5px;
  margin-bottom: 5px;
}
/* line 60 */
#navigation ul.columns + ul.columns {
  position: absolute;
  right: 56px;
  bottom: 0;
}
/* line 67 */
#navigation .logo-text {
  font-family: Avenir;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 73 */
#navigation .logo-text span {
  vertical-align: -3px;
}
/* line 78 */
#navigation .rss-icon {
  position: absolute;
  padding-top: 5px;
}

/** hide RSS when small screen **/
@media only screen and (max-width: 767px) {
  /* line 86 */
  ul.columns + ul.columns {
    display: none;
  }
}
/* line 91 */
.social-link-list li {
  display: inline;
  padding: 0 5px;
}

/** code blocks **/
/* line 97 */
pre {
  font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

/* line 101 */
code {
  color: #484849;
}

/*** fonts ***/
@font-face {
  font-family: 'Caslon';
  src: url("/theme/fonts/ACaslonPro-Regular.otf");
}
@font-face {
  font-family: 'Caslon';
  src: url("/theme/fonts/ACaslonPro-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Caslon';
  src: url("/theme/fonts/ACaslonPro-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'Caslon';
  src: url("/theme/fonts/ACaslonPro-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Caslon SemiBold';
  src: url("/theme/fonts/ACaslonPro-Semibold.otf");
}
@font-face {
  font-famiy: 'Caslon SemiBold';
  src: url("/theme/fonts/ACaslonPro-SemiboldItalic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Consolas";
  src: url("/theme/fonts/Consolas.ttf");
}
@font-face {
  font-family: "Consolas";
  src: url("/theme/fonts/CONSOLAB.TTF");
  font-weight: bold;
}
@font-face {
  font-family: "Consolas";
  src: url("/theme/fonts/CONSOLAI.ttf");
  font-style: italic;
}
